reports
env
logs
.idea/

.Python
*.pyc
__pycache__/
.venv
venv/

*.db
db.sqlite3
.DS_Store
localsettings.py
*.log
*.sql
*.zip
*.mwb*
*.data
CACHE

.cache
.coverage
static/
deloitte_api/static/
htmlcov/

*.egg
*.egg-info

.vscode
.lvimrc
.vimrc
*.swp
yamls
mysql_backup/*
deloitte_api.sqlite3